.image {
    height: 50vh;
    width: auto;

}

.button {
    background-color: transparent;
    border: none;
}

.project_left {
    align-self: flex-start;
}

.project_right {
    align-self: flex-end;
}

.project_left, .project_right {
    margin-top: 5vh;
    border: 0.5vh solid var(--pallete_color_5);

}
    
@media (width <= 1000px){
    .image {
        height: 30vh;
        width: auto;
      
    }
}

@media (width <= 600px){
    .image {
        height: 15vh;
        width: auto;
      
    }
}

@media (width <= 360px){
    .image {
        height: 14vh;
        width: auto;
      
    }
}