.image {
    height: 50vh;
    width: auto;

    border-radius: 8px;
}

.button {
    background-color: transparent;
    border: none;
}

.project_left {
    align-self: flex-start;
}

.project_right {
    align-self: flex-end;
}

.project_left, .project_right {
    margin: 10vh;
    border: 10px solid var(--pallete_color_6);
    border-radius: 20px;

}

@media (width <= 1000px){
    .image {
        height: 30vh;
        width: auto;
      
    }
}