:root {
    --pallete_color_1: #30393E;
    --pallete_color_2: #988F88;
    --pallete_color_3: #F8E5D7;
    --pallete_color_4: #61385b;
    --pallete_color_5: #FAEFEB;
    --pallete_color_6: #F8BD97;
}