* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pallete_color_1: #30393E;
    --pallete_color_2: #988F88;
    --pallete_color_3: #F8E5D7;
    --pallete_color_4: #414040;
    --pallete_color_5: #f3f3f3;
    --pallete_color_6: rgb(192, 203, 207);
}